* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins' ;
   
 }
 
 header {
    
    position: relative;
    top: 0;
    left: 0;
    width: 100%; 
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    
   
 }
 .navigation a {
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
    margin-left: 70px;
 }
 body{
    background-color:lightblue;
    background-image: url(images/web-images-33.webp); 
   
    padding-bottom: -20;

 }

 
 .sidebar {
     display: none; 
     position: fixed;
     top: 0;
     left: 0;
     width: 20%; 
     height: 100%;
     background-color: #333; 
     padding: 20px;
     z-index: 1000; 
 }
 
 .sidebar a {
     display: block;
     color: white;
     text-decoration: none;
     margin-bottom: 10px;
 }
 
 .close-btn {
     position: absolute;
     top: 10px;
     left:10px;
     background-color: red;
     color: white;
     border: none;
     padding: 5px;
     cursor: pointer;
     font-size: 20px;
 }
 
 #createMenuBtn{


 }

 .close-btn:focus {
     outline: none;


 }/* Media query for mobile devices */
@media (max-width: 888px) {
    header {
        padding: 20px 20px;
    }
    .navigation {
        display: none; 
    }
    #createMenuBtn{
        background-color: lightblue;

        display:block ;
    }
    .sidebar {
        display: none; 
        width: 70%;
    }
    .sidebar a {
        margin-left: 0;
    }
    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        left: auto;
        display: block; 
    }
}

/* Media query for desk devices */
@media (min-width: 768px) {

    #createMenuBtn{

        display: none;
    }

}

.col1{
    position:relative;
    width: 100%;
    height: 90%;
    background-image:url(background.jpg) ;
    background-size: cover;
}


/*forms*/

.col6
{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border-radius: 33px;
background: linear-gradient(145deg, #d5ffff, #b3d9e6);
box-shadow:  7px 7px 8px #839fa8,
             -7px -7px 8px #ffffff;
position: relative;
width: 50%;
height:50%;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
  
  
}
.col7{
    position: fixed;
    width: 100%;
    height: 100%;
}

.col6 input[type="email"],
.col6 input[type="username"],
.col6 input[type="tel"],
.col6 input[type="password"] {
    height: 50px;
    width: 70%; 
    transition: transform 0.1s ease-in-out;
    border-radius: 17px;
}

.col6 input[type="email"]:hover,
.col6 input[type="username"]:hover,
.col6 input[type="tel"]:hover,
.col6 input[type="password"]:hover {
    animation: wobble 0.1s ease-in-out 3 alternate;
}

@keyframes wobble {
    0% { transform: rotate(-3deg); }
    50% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

.col6 button[type="submit"] {
    height: 50px;
    width: 50%;
    transition: transform 0.3s ease-in-out;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 17px;
}

.col6 button[type="submit"]:hover {
    animation: wobble 0.1s ease-in-out 3 alternate;
  
}

@keyframes wobble {
    0% { transform: rotate(-3deg); }
    50% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
nav .button {
    height: 40px;
    width: 80px;
   
  
 font-size: 17px;
 padding: 0.5em 2em;
 border: transparent;
 box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
 background: dodgerblue;
 color: white;
 border-radius: 4px;
}


nav button:hover {
 background: rgb(2,0,36);
 background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
}

nav button:active {
 transform: translate(0em, 0.2em);
}


  
  .login {
    height: 40px;
    width: 80px; 
    --green: #1BFD9C;
    
    position: relative;
   
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(100, 179, 144, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
  }
  
  button:hover {
    color: #82ffc9;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
  }
  .logo {
    height: 60px;
    width: 80px; 
   
  } 
/* Media query for desk devices */
@media (min-width: 768px){

  .intro{
    position: relative;
    height: 60%;
  
    width: 60%;
    font-size: 40px;
    padding: 29px;
    top:100px;
      left:0 ;

       color: #ffffff;
  }

  .paragraph {
    position: relative;
    padding-top: 36px;
    font-size: 30px;
  }
  
}

/* Media query for desk devices */
@media (max-width: 768px){

    .intro{
      position: relative;
      height: 60%;
      width: 60%;
      font-size: small;
      padding: 29px;
    color: #ffffff;
      

      
    }
  
    .paragraph {
      position: relative;
      padding-top: 36px;
    }
    .btn-conteiner {
        position: relative;
            top: 50px;
            left: -30px;
          }

  }
  .btn-conteiner {
    display: flex;
    justify-content: center;
    --color-text: #ffffff;
    --color-background: #00b7ff;
    --color-outline: #15a0fd80;
    --color-shadow: #00000080;
  }
  
  .btn-content {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
  }
  
  .btn-content:hover, .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
  }
  
  .btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
  }
  
  .btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
  }
  
  .icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
  }
    
  /* SVG */
  #arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  #arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: var(--color-background);
    }
  
    100% {
      fill: white;
    }
  }
  
  /* Button animations */
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  
  @keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  .btn-conteiner {
position: relative;
    top: 150px;
    left: -450px;

  }